{% extends 'base.html' %}  

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista de empleados</h1>
        <!-- <div class="cell grid-x grid-margin-x"> -->
        
        <div class="cell">
            
            <table>
                <thead>
                  <tr>
                    <th width="200">ID</th>
                    <th>NOMBRES</th>
                    <th width="200">APELLIDOS</th>
                    <th width="200">DEPARTAMENTO</th>
                    <th width="200">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in object_list %}
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.first_name}}</td>
                        <td>{{e.last_name}}</td>
                        <td>{{e.departamento}}</td>
                        <td>
                            <a class="button warning" href="{% url 'persona_app:modificar_empleado' e.id %}">Editar</a>
                            <a class="button warning" href="{% url 'persona_app:eliminar_empleado' e.id  %}">Eliminar</a>
                        </td> 
                    </tr>
                    {% endfor %}
                  </tr>
                </tbody>
            </table>
                        
        </div>

    </div>
    <div class="cell">
        <!-- {% if is_paginated %} -->
        <nav aria-label="Pagination">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="pagination-previous">
                    <a href="?page={{page_obj.previous_page_number}}">Atras</a>
                </li> 
                {% endif %}
        
                {% for pag in paginator.page_range %}
                
                {% ifequal pag page_obj.number  %}
                <!-- <li class="current"><span class="show-for-sr">You're on page</span>{{ pag }}</li> -->
                <li class="current">{{ pag }}</li>
                {% else %}
                <li><a href="?page={{ pag }}" >{{ pag }}</a></li>
                {% endifequal %}
                    

                
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="Pagination-next"><a href="?page={{page_obj.next_page_number}}">Siguiente</a></li>
                {% endif %}
            </ul>
        </nav>
            
        {% endif %}
            
        
    </div>

</div>
{% endblock content %} 
